<web-app>
    
    <display-name>Sales Manager</display-name>
    
	<servlet>
        <servlet-name>salesmanager</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
         <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/manager-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>salesmanager</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>